<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>1 - Binding</title>
    <link rel="stylesheet" href="../css/foundation.min.css">
  </head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  
  <script src="../js/foundation_jquery.js"></script>
  <script src="../js/topnav.js"></script>
  <script src="../js/foundation.min.js"></script>
  <script src="../js/vendor/custom.modernizr.js"></script>
  <script src="../js/setup.js"></script>

  <script src="main.js"></script>

  <body>
    <div ng-app="">
         <h1>This controllers use separate data.message</h1>

         <div ng-controller="FirstController">
          <input type="text" ng-model="data.message">
          <h1>{{data.message}}</h1>
         </div>

         <div ng-controller="SecondController">
          <input type="text" ng-model="data.message">
          <h1>{{data.message}}</h1>
         </div>
    </div>

  </body>
</html>
